<%provide(:title, "About") %>
<%# about.html.erb %>
<h1>About</h1>
<p>
	The <a href="http://www.railstutorial.org/"><em>Ruby on Rails Tutorial</em> </a> is a
	<a href="http://www.railstutorial.org/book">book</a> and a 
	<a href="http://www.screencasts.railstutorial.org/">screencast series </a><br>
	to teach web development with <a href="http://www.rubyonrails.org/">Ruby on Rails</a>.<br>
	This is the sample app for the the tutorial.
</p>
